@model desafioLar.Models.Pessoa

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Pessoa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nome
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nmNome)
        </dd>
        <dt class = "col-sm-2">
            CPF
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nmCPF)
        </dd>
        <dt class = "col-sm-2">
            Data de Nascimento
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dtNascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.flAtivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.flAtivo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.idPessoa">Editar</a> |
    <a asp-action="Index">Volar</a>
</div>
